.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.masthead {
    padding: 12px 0 0 0;
    margin-bottom: 20px;
    border-bottom: 1px #ccc solid;
}

.masthead h1 {
    font-size: 18px;
    color: #ccc;
    width: 200px;
    margin: 0;
    float: left;
}
.masthead a {
    color: inherit;
    text-decoration: none;
}
.masthead a:hover {
    color: #08c;
}

.masthead .nav {
    margin-top: 3px;
    float: right;
}

.job {
    padding: 4px 0;
    margin-bottom: 8px;
}

.job:nth-child(2n) {
    border-top: 1px #ccc solid;
}

.action-well form {
    margin-bottom: 0;
}

.row-signin {
    margin: 0 auto;
    max-width: 700px;
    margin-bottom: 16px;
}

.row-signin form {
    margin: 0;
}

.openid-form .input-append {
  text-align: center;
}

.openid-form input {
  font-size: 17.5px;
  height: 34px;
}

/* layout tweaks for smaller screens */
@media (max-width: 767px) {
    .row-signin {
        margin-bottom: 0;
    }
    .row-signin div {
        margin-bottom: 16px;
    }
}
