.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.masthead {
    padding: 12px 0;
    margin-bottom: 20px;
    border-bottom: 1px #ccc solid;
}

.masthead ul.nav {
    margin-top: 3px;
}

.job {
    padding: 4px 0;
    margin-bottom: 8px;
}

.job:nth-child(2n) {
    border-top: 1px #ccc solid;
}

.action-well form {
    margin-bottom: 0;
}

.row-signin {
    margin: 0 auto;
    max-width: 700px;
    margin-bottom: 16px;
}
