{% extends "base.html" %}

{% block content %}
  {% load url from future %}
  <h3>Sign in</h3>
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <h4>
          <a href="{% url "socialauth_begin" "twitter" %}">
            Sign in with Twitter
          </a>
        </h4>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <h4>
          <a href="{% url "socialauth_begin" "github" %}">
            Sign in with Github
          </a>
        </h4>
      </div>
    </li>
  </ul>
{% endblock %}
