{% extends "base.html" %}

{% block content %}
  {% load url from future %}
  <div class="row row-signin">
    <div class="span6">
      <a class="btn btn-large btn-block" href="{% url "socialauth_begin" "github" %}">
        Sign in with Github
      </a>
    </div>
    <div class="span6">
      <a class="btn btn-large btn-block"href="{% url "socialauth_begin" "twitter" %}">
        Sign in with Twitter
      </a>
    </div>
  </div>
  <div class="row row-signin">
    <div class="span6">
      <a class="btn btn-large btn-block" href="{% url "socialauth_begin" "facebook" %}">
        Sign in with Facebook
      </a>
    </div>
    <div class="span6">
      <a class="btn btn-large btn-block" href="{% url "socialauth_begin" "linkedin" %}">
        Sign in with LinkedIn
      </a>
    </div>
  </div>
{% endblock %}
