{% extends "base.html" %}

{% block content %}
  {% load markup mailhide %}
  {% load url from future %}

  {% if user_can_edit %}
    <div class="well action-well pull-right">
      {% if job.status == 'draft' %}
        <p>This listing is a draft and has not yet been published.</p>
        <form class="form-inline" method="post" action="{% url "job_publish" job.id %}">
          {% csrf_token %}
          <a class="btn btn-block" href="{% url "job_edit" job.id %}">Edit</a>
          <button class="btn btn-block btn-primary">Publish</button>
        </form>
      {% elif job.status == 'active' %}
        <p>This listing is active.</p>
        <form class="form-inline" method="post" action="{% url "job_archive" job.id %}">
          {% csrf_token %}
          <a class="btn btn-block" href="{% url "job_edit" job.id %}">Edit</a>
          <button class="btn btn-block btn-primary">Archive</button>
        </form>
      {% elif job.status == 'archived' %}
        <p>You archived this listing, so it's no longer publically visable.</p>
        <form class="form-inline" method="post" action="{% url "job_publish" job.id %}">
          {% csrf_token %}
          <a class="btn btn-block" href="{% url "job_edit" job.id %}">Edit</a>
          <button class="btn btn-block btn-primary">Re-publish</button>
        </form>
      {% elif job.status == 'removed' %}
        <p class="text-error">This listing has been removed for violating the site's guidlines.</p>
      {% endif %}
    </div>
  {% elif not has_flagged %}
    <div class="pull-right flag">
      <form action="{% url "job_flag" job.id %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger btn-mini flag">Flag as spam</button>
      </form>
    </div>
  {% endif %}

  {% include "jobs/snippets/title.html" %}
  {{ job.description|markdown:"safe" }}
  <p>Expected skills:
    <ul>
      {% for skill in job.skills.all %}
        <li>{{ skill }}</li>
      {% endfor %}
    </ul>
  </p>
  <p>Contact: <a href="{{ job.contact_email|mailhide }}" onclick="window.open('{{ job.contact_email|mailhide }}', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">{{ job.contact_name }}</a></p>
  <p>Location: {{ job.location }} ({{ job.remote|yesno:"remote OK,on-site only" }})</p>
  {% if job.compensation %}<p>Compensation: {{ job.compensation }}</p>{% endif %}

{% endblock %}
